spring:
  application:

    name: "configserver"
  profiles:
    active: native
  cloud:
        config:
         server:
           native:
            # search-locations: "classpath:/config"
             search-locations: file:///C:/Spring Cloud/IntelliJ_workspace/2025/manel-spring-cloud/configserver/config-repo

server:
  port: 9999